<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- get username from profile here -->
    <title>Usernames Goal</title>

</head>
<body>
<form>
    Target Number: <input type="number" name="Goal Number">
</form>

<!-- Take goal number - open connection to db -->

<!-- Navigation bar-->
<nav class="navbar">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Goals
            </a>
            <a class="navbar-item">
                Markets
            </a>
            <a class="navbar-item">
                Valuations
            </a>
        </div>

        <div class="navbar-center">
            <a style="display:flex; flex-direction:column" class="navbar-item" href="/">
                <strong style="font-size:20px">JABA</strong>
                <p style="font-size: 10px;">Just Another Budgeting Application</p>
            </a>
        </div>
    </div>
</nav>

</body>
</html>