<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>JABA | Just Another Budgeting Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/mystyles.css">
</head>

<body>
<div class="mobileWarning">
    THIS WEBSITE IS ONLY TO BE USED ON DESKTOP. PLEASE EITHER MAXIMISE YOUR WINDOW OR SWITCH TO A DESKTOP OR LAPTOP
</div>

<!-- Navigation bar-->
<nav class="navbar is-light">
    <div class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-center">
            <a style=" display:flex; flex-direction:column; color:white;" class="navbar-item" href="/">
                <strong style="font-size:20px">JABA</strong>
                <p style="font-size: 10px;">Just Another Budgeting Application</p>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/login" class="button is-">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="homepageInfo">
    <h3 class="title is-3">Help Keep Your Finances on Track!</h3>
    <p>Our budgeting app</p>
</div>

<!--Sign up Component-->
<div style="height: 350px; " class="card signUpCard">
    <h2 style="font-size: 20px; position:relative; margin-top:17px;"><strong>Sign up</strong></h2>
    <div class="card-content">
        <div class="content">
            <div id="signUpFormComponent">
                <div id="signUpLabels">
                    <label>Email:</label>
                    <label>Password:</label>
                    <label>Confirm Password:</label>
                </div>
                <form action="{{ url_for('signUpUser') }}" method="post">
                    <div id="signUpInputs">
                        <input class="signUpField" type="email" required name="email"/>
                        <input class="signUpField" type="password" required name="password"/>
                        <input class="signUpField" type="password" required name="confirmPassword"/>
                    </div>

            </div>
            <button id="signUpButton" type="submit" class="button is-dark">Submit</button>
            </form>
        </div>
        <p id="errorResponse" style="color:red; font-size:15px;">{{ error }}</p>
    </div>
</div>

<!-- footer -->
<footer class="footer">
    <div class="content has-text-left">
        <p>
            <strong class="has-text-white">JABA</strong>
        </p>
        <p class="has-text-white">Copyright &copy; 2022</p>
    </div>
</footer>
</body>
</html>
