<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- get username from profile here -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>JABA | Your Valuations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/mystyles.css">

</head>
<body>
<div class="mobileWarning">
    THIS WEBSITE IS ONLY TO BE USED ON DESKTOP. PLEASE EITHER MAXIMISE YOUR WINDOW OR SWITCH TO A DESKTOP OR LAPTOP
</div>

<!-- Navigation bar-->
<nav class="navbar is-light">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="/Goals.html" class="navbar-item tabLinks">
                Goals
            </a>
            <a class="navbar-item tabLinks">
                Markets
            </a>
            <a id="activeLink" class="navbar-item tabLinks">
                Valuations
            </a>
        </div>

        <div class="navbar-center">
            <a style=" display:flex; flex-direction:column; color:white;" class="navbar-item" href="/">
                <strong style="font-size:20px">JABA</strong>
                <p style="font-size: 10px;">Just Another Budgeting Application</p>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-">
                        Login
                    </a>
                    <a class="button is-dark">
                        Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<h2 class="title is-2" style="text-align: center; margin-top:30px; margin-bottom:50px;">{{ username+"'s Goals" }}</h2>

<form id="goalForm" action="{{ url_for('displayAndAddGoals') }}" method="post">
    <div>
        <label style="margin-right:20px;">Goal Title
            <input type="text" required name="goalText" placeholder="Your Goal Here"/>
        </label>
        <label style="margin-right:20px;">Goal Number (£)
            <input type="number" required name="goalNumber" step=".01" placeholder="0.00"/>
        </label>
        <label style="margin-right:20px;">Current Number (£)
            <input type="number" required name="currentNumber" step=".01" placeholder="0.00"/>
        </label>
    </div>
    <button type="submit" class="button is-dark">Add Goal</button>
</form>

{% if editButtonPressed == True %}
    <div id="editGoalsPopUp"
         style="position:absolute; display:flex; justify-content:center; width:350px; left:calc(50% - 175px); margin-top:20px; z-index: 100"
         class="card">
        <h2 style="font-size: 20px; position:fixed; margin-top:7px;">
            <strong>Editing {{ specificGoal.goalText }}</strong></h2>
        <form action="{{ url_for("deleteOrEditGoal") }}" method="post">
            <button name="closeEditButton"
                    style="position:absolute; background-color: transparent; border: none; margin-left: 300px; margin-top:3px; cursor:pointer;">
                <strong style="color:red; font-family: 'Comic Sans MS',serif">X</strong></button>
        </form>
        <div class="card-content">
            <div class="content">
                <div id="signUpFormComponent">
                    <div id="signUpLabels">
                        <label style="margin-top:30px;">Goal Title:</label>
                        <label>Goal Number:</label>
                        <label>Current Number:</label>
                    </div>
                    <form action="{{ url_for("deleteOrEditGoal") }}" method="post">
                        <div id="signUpInputs">
                            <input name="newGoalText" value="{{ specificGoal.goalText }}" style="margin-top:30px;"
                                   class="signUpField"
                                   type="text" required/>
                            <input name="newGoalValue" value="{{ specificGoal.goalNumber }}" class="signUpField"
                                   type="number" step="0.01"
                                   required/>
                            <input name="newCurrentValue" value="{{ specificGoal.currentNumber }}" class="signUpField"
                                   type="number"
                                   step="0.01" required/>
                        </div>
                </div>
                <button name="submitEditButton" value="{{ specificGoal.id }}"
                        style="position:relative; margin-left:100px;" type="submit"
                        class="button is-success">Submit
                </button>
                </form>
            </div>
        </div>
    </div>
{% endif %}

<div id="goals">
    {% for goal in goals %}
        <div class="goal">
            <div style="background-color: lightblue; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                <h3 class="title is-5"
                    style="text-align: center; margin-top:5px; margin-bottom:5px;">{{ goal.goalText }}</h3>
            </div>
            <div style="display:flex; flex-direction: row; justify-content: space-evenly; margin-top:15px;">
                <p style="text-align: center">Current Value towards Goal: </p>
                <p style="text-align: center">Value needed to complete Goal: </p>
            </div>
            <div style="display:flex; flex-direction: row; justify-content: space-evenly; margin-top:10px;">
                <p style="font-size: 30px; text-align: center; margin-right:80px;">
                    <strong>£ {{ goal.currentNumber }}</strong></p>
                <p style="font-size: 30px; text-align: center; margin-right: 20px;">
                    <strong>£ {{ goal.goalNumber }}</strong></p>
            </div>
            <div class="goalButtons">
                <form action="{{ url_for('deleteOrEditGoal') }}" method="post">
                    <button type="submit" name="deleteButton" value="{{ goal.id }}" class="button is-danger">Delete
                        Goal
                    </button>
                    <button type="submit" name="editButton" value="{{ goal.id }}" class="button is-success">Edit Goal
                    </button>
                </form>
            </div>
            <form action="{{ url_for("updateProjections") }}" method="post">
                <div style="margin-top:10px; display:flex; flex-direction: column; align-items: center">
                    <p style="font-size: 30px; text-align: center;">
                        <strong>Projections</strong></p>
                    <label>Years:
                        <input name="yearProjection" type="number" value="{{ goal.yearProjection  }}" step="1" required>
                    </label>
                    <label>Percentage:
                        <input name="percentageProjection" type="number" value="{{ goal.percentageProjection }}" step="0.01" required>
                    </label>
                    <p>You are projected:</p>
                    <p style="font-size: 30px; text-align: center;">
                        <strong>£{{ "%.2f"|format((1 + (goal.percentageProjection/100)/1)**(1*goal.yearProjection)*goal.currentNumber) }}</strong></p>
                    <button type="submit" style="border-radius: 15px; margin-bottom:10px;" name="updateGoalProjection"
                            value="{{ goal.id }}" class="button is-success">Refresh Projected
                    </button>
                </div>
            </form>
        </div>
    {% endfor %}
</div>

</body>
</html>
