<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- get username from profile here -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>JABA | Your Valuations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="../static/mystyles.css">

</head>
<body>
<div class="mobileWarning">
    THIS WEBSITE IS ONLY TO BE USED ON DESKTOP. PLEASE EITHER MAXIMISE YOUR WINDOW OR SWITCH TO A DESKTOP OR LAPTOP
</div>

<!-- Navigation bar-->
<nav class="navbar is-light">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="/goals" class="navbar-item tabLinks">
                Goals
            </a>
            <a href="/markets" class="navbar-item tabLinks">
                Markets
            </a>
            <a id="activeLink" href="/valuations" class="navbar-item tabLinks">
                Valuations
            </a>
        </div>

        <div class="navbar-center">
            <a style=" display:flex; flex-direction:column; color:white;" class="navbar-item" href="/">
                <strong style="font-size:20px">JABA</strong>
                <p style="font-size: 10px;">Just Another Budgeting Application</p>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/" class="button is-">
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<h2 class="title is-2"
    style="text-align: center; margin-top:30px; margin-bottom:50px;">{{ username+"'s Valuations" }}</h2>

<div style="margin-bottom:10px;" class="card valuationsCard">
    <form action="{{ url_for("viewValuations") }}" method="post">
        <div id="dividingLine"
             style="border-radius:15px; position:absolute; height:460px; width:2px; background-color: rgba(220,220,220,0.44); left:50%"></div>
        <div style="background-color: lightcoral; border-top-left-radius: 15px; border-top-right-radius: 15px; display:flex; flex-direction: row;">
            <h3 class="title is-5"
                style="padding-top:10px; text-align: center; height:20px; width:50%;">Assets (£)</h3>
            <h3 class="title is-5"
                style="padding-top:10px; text-align: center; height:20px; width:50%;">Liabilities (£)</h3>
        </div>
        <div class="card-content">
            <div class="content">
                <div style="display:flex; flex-direction: row; width:75%; margin-left:84px; text-align: center; justify-content: space-evenly">
                    <div style="display:flex; flex-direction: column; width:50%;">
                        <label>Property Values:
                            <input name="propertyValuesAsset" value="{{ valuations.propertyValuesAsset }}"
                                   type="number"
                                   step="0.01" required>
                        </label>
                        <label>Savings Accounts:
                            <input name="savingsAccountsAsset" value="{{ valuations.savingsAccountsAsset }}"
                                   type="number" step="0.01" required>
                        </label>
                        <label>Pensions Accounts:
                            <input name="pensionsAccountsAsset" value="{{ valuations.pensionsAccountsAsset }}"
                                   type="number" step="0.01" required>
                        </label>
                        <label>Cars:
                            <input name="carsAsset" value="{{ valuations.carsAsset }}" type="number" step="0.01"
                                   required>
                        </label>
                        <label>Other Assets:
                            <input name="otherAsset" value="{{ valuations.otherAsset }}" type="number" step="0.01"
                                   required>
                        </label>
                    </div>
                    <div style="display:flex; flex-direction: column; width:50%; margin-left:190px;">
                        <label>Mortgages:
                            <input name="mortgagesLiability" value="{{ valuations.mortgagesLiability }}"
                                   type="number"
                                   step="0.01" required>
                        </label>
                        <label>Student Loans:
                            <input name="studentLoanLiability" value="{{ valuations.studentLoanLiability }}"
                                   type="number" step="0.01" required>
                        </label>
                        <label>Personal Loans:
                            <input name="personalLoanLiability" value="{{ valuations.personalLoanLiability }}"
                                   type="number" step="0.01" required>
                        </label>
                        <label>Car Loans:
                            <input name="carLoansLiability" value="{{ valuations.carLoansLiability }}" type="number"
                                   step="0.01"
                                   required>
                        </label>
                        <label>Other Debt:
                            <input name="otherDebtLiability" value="{{ valuations.otherDebtLiability }}"
                                   type="number"
                                   step="0.01" required>
                        </label>
                    </div>
                </div>
                <div style="text-align: center" class="subtitle is-5">
                    Total Valuation:
                </div>
                <p id="numberCounter" style="font-size: 30px; text-align: center;">
                    <strong>£ {{ "%.2f"|format((valuations.propertyValuesAsset + valuations.savingsAccountsAsset + valuations.pensionsAccountsAsset + valuations.carsAsset + valuations.otherAsset) - (valuations.mortgagesLiability + valuations.studentLoanLiability + valuations.personalLoanLiability + valuations.carLoansLiability + valuations.otherDebtLiability)) }}</strong>
                </p>
            </div>
            <button type="submit" style="position:relative; width:100%;" class="button is-success">Calculate and
                Generate Graphs
            </button>
            {% if showGraphs == True %}
                <div style="display:flex; flex-direction: column">
                    <img style="width:100%; height:100%; position:relative; margin-top:30px;"
                         src="static/images/personalBarChartValuation.jpg"
                         alt="{{ "Assets and Liabilities Breakdown by Bar Chart" }}">

                    <img style="width:100%; height:100%; position:relative; margin-top:10px;"
                         src="static/images/personalAssetPieChartValuation.jpg"
                         alt="{{ "Assets Breakdown by Pie Chart" }}">

                    <img style="width:100%; height:100%; position:relative; margin-top:10px;"
                         src="static/images/personalLiabilitiesPieChartValuation.jpg"
                         alt="{{ "Liabilities Breakdown by Pie Chart" }}">

                    <img style="width:100%; height:100%; position:relative; margin-top:10px;"
                         src="static/images/totalAssetAndLiabilitiesPieChartValuation.jpg"
                         alt="{{ "Assets And Liabilities Breakdown by Pie Chart" }}">
                </div>
            {% endif %}
        </div>
    </form>
</div>

<!-- footer -->
{% if showGraphs == True %}
    <footer style="position:relative; display:flex; bottom:0; width:100%; height:7%; background-color:#353138;"
            class="footer">
        <div class="content has-text-left">
            <p>
                <strong class="has-text-white">JABA</strong>
            </p>
            <p class="has-text-white">Copyright &copy; 2022</p>
        </div>
    </footer>
{% else %}
    <footer style="position:fixed; display:flex; bottom:0; width:100%; height:7%; background-color:#353138;"
            class="footer">
        <div class="content has-text-left">
            <p>
                <strong class="has-text-white">JABA</strong>
            </p>
            <p class="has-text-white">Copyright &copy; 2022</p>
        </div>
    </footer>
{% endif %}

</body>
</html>
